{% extends 'base.twig' %}

{% block content %}

<h2>Admin section</h2>

{% if users %}
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.userid }}</td>
            <td><a href="/user/{{ user.username }}">{{ user.username}}</a></td>
            <td><a href="/admin/delete/{{ user.username}}/{{ csrftoken }}">Delete this user</a></td>
            {% if user.isDoctor == 0 %}
                <td><a href="/admin/toggledoctor/{{ user.username }}/1">Set as doctor</a></td>
            {% else %}
                <td><a href="/admin/toggledoctor/{{ user.username }}/0">Unset as doctor</a></td>
            {% endif %}
        </tr> 
    {% endfor %}
    </table>
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <table>
        <tr>
            <th> Id</th>
            <th> Title</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="/posts/{{ post.postid}}">{{ post.title }}</a></td>
            <td><a href="/admin/delete/post/{{ post.postid}}/{{ csrftoken }}">Delete this post</a></td>
        </tr>        
        {% endfor %}
    </table>
{% else %}
    There are no posts
{% endif %}

{% endblock %}
