{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info }} <br />
{{ flash.error }} <br />

{% if user %}
    <table>
        <tr>
            <th>Id</th>
            <td>{{ user.userid }}</td>  
            </tr><tr>
            <th>Username:</th>
            <td>{{ user.username }}</td>  
            </tr><tr>
            <th>Bio:</th>
            <td>{{ user.bio }}</td>  
            </tr><tr>
            <th>Age:</th>
            <td>{{ user.age }}</td>
            </tr>
        <!-- PS: RMB4P!!! {{ user.hash|raw }} --></td> {# User hash shouldn be in page comments (G21_0005) #}




    </table>
{% else %}
    Could not find a user with username "{{ username }}".  
{% endif %}

{% endblock %}
